{% extends 'base.html' %}
{% block title %}Văn bản chờ xử lý{% endblock %}

{% block content %}
<div class="row">
 <!-- SIDEBAR -->
 <div class="col-md-2 sidebar">
   <h6 class="text-uppercase mb-3">Văn bản đến</h6>
   <a href="{% url 'vanban_cho_xuly' %}">Văn bản chờ xử lý</a>
   <a href="{% url 'theodoi_xuly' %}"class="fw-bold text-primary">Theo dõi xử lý</a>
   <a href="{% url 'tracuu_vanbanden' %}">Tra cứu văn bản đến</a>
 </div>

 <!-- NỘI DUNG -->
          <div class="flex-grow-1">
  <h4 class="container mt-4">Chi tiết công việc: <em>{{ cong_viec.TieuDe }}</em></h4>

  <div class="card p-3 mb-3">
    <p><b>Văn bản:</b> {{ cong_viec.MaVanBanDen.TrichYeu }}</p>
    <p><b>Số ký hiệu:</b> {{ cong_viec.MaVanBanDen.SoKyHieu }}</p>
    <p><b>Hạn xử lý:</b> {{ cong_viec.HanXuLy|date:"d/m/Y" }}</p>
    <p><b>Trạng thái:</b> {{ cong_viec.TrangThai }}</p>

    <p><b>Mô tả:</b> {{ cong_viec.MoTa }}</p>


    {% if cong_viec.FileDinhKem %}
      <p><b>File công việc:</b>
        <a href="{{ cong_viec.FileDinhKem.url }}" target="_blank">Tải xuống</a>
      </p>
    {% endif %}
  </div>

  <form method="post">
    {% csrf_token %}
    <div class="text-end">
      <button type="submit" name="action" value="approve" class="btn btn-success me-2">Phê duyệt</button>
      <a href="{% url 'yeu_cau_sua_create' cong_viec.MaCV %}" class="btn btn-warning">Yêu cầu xử lý lại</a>
    </div>
  </form>
</div>
{% endblock %}